body {
  font-family: 'Roboto Mono', monospace;
  background-color: #465775;
}

.fa {
  color: white;
}

.fa:hover {
  color: #B3BFB8;
}

#spotlight {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 93%;
  margin: auto;
  font-size: 1.5rem;
}
