:root {
  --pl-background-color: #0B2545;
  --pl-foreground-color: #F2F5F8;
  --pl-accent-color: #F2404F;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--pl-background-color);
  color: var(--pl-foreground-color);
}

.fab {
  color: var(--pl-foreground-color);
}

.fab:hover {
  color: var(--pl-accent-color);
}

#launchpad {
  font-family: 'Ubuntu', sans-serif;
}

#main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 93%;
  font-size: 1.5rem;
}
